<configuration>
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="false"/>
		<!--Cờ và EmailTest To-->
    <!--That : chạy thật; TestDFT : test trên DFT-->
    <add key="emailFlag" value="That" />
    <!--<add key="mailTestNOC" value="huong.nguyenthi@mobifone.vn" />-->
		<add key="mailTestDFT" value="nguyenvu9398@gmail.com" />
	</appSettings>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
</configuration>