<div [@routerTransition]>
    <section class="content-header" id="toanBoTS">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>Quản lý Toàn bộ tài sản</h1>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-success m-r-5 m-t-5 width-130" (click)="importExcel()">
                        <i class="fa fa-upload"></i>
                        <span style="margin-left: 5px;">Nhập Excel</span></button>

                    <button type="button" class="btn btn-success m-r-5 m-t-5 width-130" (click)="exportToExcel()"
                        [buttonBusy]="exporting"><i class="fa fa-download"></i>
                        <span style="margin-left: 5px;">Xuất Excel</span></button>

                    <button type="button" class="btn btn-primary m-r-5 m-t-5 width-130" (click)="create()">
                        <i class="fa fa-plus"></i>
                        <span style="margin-left: 5px;">Thêm mới</span></button>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="card m-0">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue" (click)="getDataPage(true)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" name="keyword"
                            [placeholder]="'Nhập mã tài sản, tên tài sản, serial number, ngày mua, nguyên giá'"
                            [(ngModel)]="keyword" (keyup.enter)="getDataPage(true)" />
                    </div>
                    <form tabindex="-1" [formGroup]="form" class="form-horizontal" autocomplete="off"
                        #createUserModal="ngForm">
                        <div class="ui-fluid row m-t-10">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <dft-label-validation [form]="form" [title]="'Đơn vị quản lý'">
                                    </dft-label-validation>
                                    <app-multiple-select-tree [dataEdit]="toChucItems"
                                        (onSelect)="toChucValue = $event">
                                    </app-multiple-select-tree>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <dft-label-validation [form]="form" [title]="'Loại tài sản'">
                                    </dft-label-validation>
                                    <app-dropdown-treeview-select [items]="loaiTaiSanItems"
                                        (valueChange)="loaiTaiSanValue = $event">
                                    </app-dropdown-treeview-select>
                                </div>
                            </div>
                        </div>

                        <div class="ui-fluid row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <dft-label-validation [form]="form" [title]="'Nhà cung cấp'">
                                    </dft-label-validation>
                                    <p-dropdown formControlName="NhaCCFilter" [options]="nhaCC"
                                        [placeholder]="dropdownPlaceholder" optionLabel="displayName" [showClear]="true"
                                        [filter]="true" resetFilterOnHide="true">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <dft-label-validation [form]="form" [title]="'Mã sử dụng'">
                                    </dft-label-validation>
                                    <p-dropdown formControlName="MaSDFilter" [options]="maSD"
                                        [placeholder]="dropdownPlaceholder" optionLabel="displayName" [showClear]="true"
                                        [filter]="true" resetFilterOnHide="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-end">
                        <div class="col-lg-6 col-md-12 col-sm-12 text-right">
                            <button type="button" class="btn btn-danger" [disabled]="selectedList.length === 0"
                                (click)="xoaList(selectedList)"><i class="fas fa-trash"></i>
                                <span style="margin-left: 5px;">Xóa</span></button>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <p-table #dt [value]="records" [lazy]="true" (onLazyLoad)="getDataPage(false,$event)"
                            [(first)]="first" [paginator]="paginator" [loading]="loading"
                            [showCurrentPageReport]="showCurrentPageReport"
                            currentPageReportTemplate="{{totalCount==0?'':' Hiển thị: {first}-{last}/{totalRecords}'}} "
                            [rows]="paginatorRows" [totalRecords]="totalCount" [rowsPerPageOptions]="rowsPerPageOptions"
                            [scrollable]="scrollable" scrollHeight="{{scrollHeight}}" [(selection)]="selectedList">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="width-30">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th class="width-30"></th>
                                    <th class="width-150" pSortableColumn="maEPC">Mã tài sản (EPC)
                                        <p-sortIcon field="maEPC"></p-sortIcon>
                                    </th>
                                    <th class="width-150" pSortableColumn="tenTS">Tên tài sản
                                        <p-sortIcon field="tenTS"></p-sortIcon>
                                    </th>
                                    <th class="width-150" pSortableColumn="loaiTS">Loại tài sản
                                        <p-sortIcon field="loaiTS"></p-sortIcon>
                                    </th>
                                    <th class="width-170" pSortableColumn="serialNumber">Serial Number
                                        <p-sortIcon field="serialNumber"></p-sortIcon>
                                    </th>
                                    <th class="width-170" pSortableColumn="nhaCungCap">Nhà cung cấp
                                        <p-sortIcon field="nhaCungCap"></p-sortIcon>
                                    </th>
                                    <th class="width-150" pSortableColumn="ngayMuaDateTime">Ngày mua
                                        <p-sortIcon field="ngayMuaDateTime"></p-sortIcon>
                                    </th>
                                    <th class="width-150" pSortableColumn="nguyenGia">Nguyên giá
                                        <p-sortIcon field="nguyenGia"></p-sortIcon>
                                    </th>
                                    <th class="width-300" pSortableColumn="phongBanQL">Đơn vị quản lý
                                        <p-sortIcon field="phongBanQL"></p-sortIcon>
                                    </th>
                                    <th class="width-150" pSortableColumn="trangThaiId">Trạng thái
                                        <p-sortIcon field="trangThaiId"></p-sortIcon>
                                    </th>
                                    <th class="width-150"
                                        pSortableColumn="tinhTrangQRCode,tinhTrangBarCode,tinhTrangRFID">
                                        Mã sử dụng
                                        <p-sortIcon field="tinhTrangQRCode,tinhTrangBarCode,tinhTrangRFID">
                                        </p-sortIcon>
                                    </th>
                                    <th class="width-150" pSortableColumn="viTriTS">Vị trí tài sản
                                        <p-sortIcon field="viTriTS"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record>
                                <tr class="ui-selectable-row">
                                    <td class="width-30">
                                        <p-tableCheckbox [value]="record">
                                        </p-tableCheckbox>
                                    </td>

                                    <td class="width-30">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle btn btn-sm btn-transparent btn-action"
                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" (click)="view(record.id)">Xem</a>
                                                <a class="dropdown-item" (click)="create(record.id)">Cập
                                                    nhật</a>
                                                <a class="dropdown-item" (click)="delete(record)">Xóa</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="width-150">
                                        {{ record.maEPC | truncate }}
                                    </td>
                                    <td class="width-150">
                                        {{ record.tenTS | truncate }}
                                    </td>
                                    <td class="width-150">
                                        {{ record.loaiTS | truncate }}
                                    </td>
                                    <td class="width-170">
                                        {{ record.serialNumber | truncate }}
                                    </td>
                                    <td class="width-170">
                                        {{ record.nhaCungCap | truncate }}
                                    </td>
                                    <td class="width-150">
                                        {{ record.ngayMua | truncate }}
                                    </td>
                                    <td class="width-150">
                                        {{ record.nguyenGia | number }}
                                    </td>
                                    <td class="width-300">
                                        {{ record.phongBanQL | truncate }}
                                    </td>
                                    <td class="width-150">
                                        {{ record.trangThai | truncate }}
                                    </td>
                                    <td class="width-150">
                                        {{ record.maSD | truncate }}
                                    </td>
                                    <td class="width-150">
                                        {{ record.viTriTS | truncate }}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td class="demo" colspan="8" class="text-left">{{khongCoDuLieu}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>