<li (onShown)="getDataPage()" *ngIf="isGrantedAny('Pages.QuanLyCanhBao')" class="nav-item dropdown nav-user-menu" dropdown>
    <a href="javascript:;" class="m-l-5 nav-link" dropdownToggle>
        <img class="user-image" style="border-radius: 0 !important" src="assets/img/bell.png" />
    </a>
    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <div>
            <p-table #dt [value]="records" [loading]="loading" [showCurrentPageReport]="showCurrentPageReport" [rows]="paginatorRows" [totalRecords]="totalCount">
                <ng-template pTemplate="body" let-record let-i="rowIndex">
                    <tr class="ui-selectable-row">
                        <td style="width: 180px; font-size: 12px;">{{record.noiDung | truncate}}</td>
                        <td style="width: 100px; font-size: 12px;">{{record.thoiGian}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="demo" colspan="8" class="text-left">Không có thông báo</td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="totalCount > 0"><a [routerLink]="['/app/main/danh-sach-canh-bao']">&nbsp;&nbsp;<u>Xem tất cả
                        cảnh báo</u></a>
            </div>
        </div>
    </div>
</li>