<div [@routerTransition]>
  <h4 class="text-center mb-3" style="color: #237BD3; font-weight: 600;">{{ "LogIn" | localize }}</h4>
  <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append">
          <div class="input-group-text"
            style="border-left: 1px solid rgba(83, 89, 95, 0.2) !important; border-right: none !important; border-radius: 8px 0 0 8px;">
            <span class="pi pi-user"></span>
          </div>
        </div>
        <input type="text" style="border-left: none !important;" class="form-control" name="userNameOrEmailAddress"
      [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
      [placeholder]="'UserNameOrEmail' | localize" required maxlength="256" #userNameOrEmailAddressModel="ngModel"
      #userNameOrEmailAddressEl />
      </div>
      <abp-validation-summary [control]="userNameOrEmailAddressModel" [controlEl]="userNameOrEmailAddressEl">
      </abp-validation-summary>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append">
          <div class="input-group-text"
            style="border-left: 1px solid rgba(83, 89, 95, 0.2) !important; border-right: none !important; border-radius: 8px 0 0 8px;">
            <span class="pi pi-lock"></span>
          </div>
        </div>
        <input type="password"  style="border-left: none !important; border-right: none !important; border-radius: 0 !important;" class="form-control" name="password"
          [(ngModel)]="authService.authenticateModel.password" [placeholder]="'Password' | localize" required
          maxlength="32" #passwordModel="ngModel" #passwordEl />
          <div class="input-group-append">
            <div class="input-group-text"
              style="border: 1px solid rgba(83, 89, 95, 0.2) !important; border-left: none !important; border-radius: 0 8px 8px 0;">
              <span class="pi" [ngClass]="{
                'pi-eye-slash': !fieldTextType,
                'pi-eye': fieldTextType
              }"
              (click)="toggleFieldTextType()"></span>
            </div>
          </div>
      </div>
      <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"></abp-validation-summary>
    </div>
    <div class="form-group row p-l-3 p-r-3">
      <!-- <div class="col-md-7">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="rememberMe"
            name="rememberMe"
            [(ngModel)]="authService.rememberMe"
          />
          <label for="rememberMe" class="custom-control-label">
            {{ "RememberMe" | localize }}
          </label>
        </div>
      </div> -->
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid || submitting">
          {{ "LogIn" | localize }}
        </button>
      </div>
    </div>
  </form>
  <!-- <p *ngIf="isSelfRegistrationAllowed" class="mb-1">
    <a [routerLink]="['../register']">
      <i class="pi pi-plus-circle"></i> {{ "Register" | localize }}
    </a>
  </p> -->
</div>