<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>Danh sách Vai trò</h1>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary m-r-5" (click)="createRole()">
            <i class="fa fa-plus"></i>
            <span style="margin-left: 5px;">Thêm mới</span></button>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue" (click)="getDataPage(true)">
                <i class="fas fa-search"></i>
              </button>
                        </div>
                        <input type="text" class="form-control" name="keyword" [placeholder]="'Nhập tên vai trò'" [(ngModel)]="keyword" (keyup.enter)="getDataPage(true)" />
                    </div>
                </div>
                <div>
                    <p-table #dt [value]="roles" [lazy]="true" (onLazyLoad)="getDataPage(false,$event)" [paginator]="paginator" [loading]="loading" [showCurrentPageReport]="true" currentPageReportTemplate="{{totalCount==0?'':' Hiển thị: {first}-{last}/{totalRecords}'}} "
                        [rows]="paginatorRows" [totalRecords]="totalCount" [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="scrollable" scrollHeight="{{scrollHeight}}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="width-30"></th>
                                <th class="width-150" pSortableColumn="name">Tên vai trò
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th class="width-150" pSortableColumn="displayName">Tên hiển thị
                                    <p-sortIcon field="displayName"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record>
                            <tr class="ui-selectable-row">
                                <td class="width-30">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle btn btn-sm btn-transparent btn-action" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" (click)="editRole(record)">Cập
                        nhật</a>
                                            <a class="dropdown-item" (click)="editRole(record,true)">Phân quyền</a>
                                            <a class="dropdown-item" (click)="delete(record)">Xóa</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="width-150">
                                    {{ record.name | truncate }}
                                </td>
                                <td class="width-150">
                                    {{ record.displayName | truncate }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="demo" colspan="8" class="text-left">{{khongCoDuLieu}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </section>
</div>